# see also https://gitignore.io

# Common
dist/
tmp/
*.bak

# Gradle
.gradle/
build/

# JavaScript
coverage/
node_modules/
junit.xml
/*.tgz

# Python
__pycache__/
.venv/

# Eclipse
.settings/
bin/
.project
.classpath
*.launch

# IntelliJ IDEA
.idea/
out/
*.iml

# VS Code
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db

# Project
/docs/
